/* Header */
header {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0px 13px;
}

.localisation-champ {
    display: flex;
    align-items: center;
    gap: 17px;
    justify-content: center;
    background: #eaeaea;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.localisation-champ .fa-location-dot {
    display: flex;
    justify-content: center;
}

.localisation {
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    text-align: left;
    background: #eaeaea;
}

/* Section Exploration */
#exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0 60px;
    background: var(--Background);
}

#exploration h1,
#exploration p {
    text-align: center;
    max-width: 315px;
    margin: 0 auto;
}

.animated-link {
    border: none;
    outline: none;
    background: var(--Button-Gradient);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    height: 50px;
    margin-top: 7px;
}

.animated-link:hover,
.animated-link:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), var(--Button-Gradient-Over);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}